@media all and(min-widht:300px){
	body{
		margin: 0px;
		height: 100%
	}
	
	
	h1{font-family: 'Indie Flower', cursive;	
	}
	
	
	/**link's**/
	
	
	
	a:hover{
		color:purple;
	}
	
	a{
		text-decoration: none;
		color: white;
	}
	
	
	
	a:link{
		text-decoration: none;
		color: white;
	}
	
	a,a:visited{
		text-decoration: none;
		color: white;
	}
	
	
	a:active{
		text-decoration: none;
		color: white;
	}
	
	
	
	
	
	/**Header**/
	
	#logo{
		border-radius:75px;
	}
	
	
	.menu{
		display: flex;
		height: 90px;
		flex-direction: column;
		flex-wrap:nowrap;
		justify-content: space-around;
		align-items: center;
		background-color:  #159286;
		opacity: 0.6;
		color: white;
		font-weight: bold;
		width: 100%
	}
	
	
	
	/**Header - Footer**/
	
	.item{
		order: <integer>;
		flex: none 0 1 auto;
		text-decoration: none;
	
	}
	
	
	
	/**Footer**/
	
	
	.rodape{
		display: flex;
		height: 100px;
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content:center;
		text-align: center;
		background-color: #159286;
		color: white;
		font-weight: bold;
		position:absolute;
		bottom:0;
		font-size: 12px;
	}
	
	
	
	/**Sobre**/
	
	.main{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr ;
		grid-template-areas:
				"sobre fotos"; 
	}
	
	
	.fotos{
		grid-area: fotos;
	}
	
	.sobre{
		grid-area:sobre;
		text-align: justify;
		background-color: white;
		border-radius: 10px;
		height:300px;
		width: 80%;
		margin-left:5%;
		margin-top: 55px;
	}
	
	.fotos{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 
					"imagem1 imagem2"
					"imagem3 imagem3 ";
		margin-top: 15%;
		margin-right: 5%;
	}
	
	.imagem1{
		grid-area: imagem1;
	}
	
	.imagem2{
		grid-area: imagem2;
	} 
	
	.imagem3{
		grid-area: imagem3;
		margin-left:26%;
		margin-right: 45%;
		
	
	}
	
	
	.fotos > * {
		height: 200px;
		width: 200px;
		border-radius:150px;
	}
	
	
	
	
	
	
	/**Produtos - Pacotes**/
	
	
	.kits{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
		width: 100%;
	}
	
	.produtos{
		text-align: justify;
		font-size:20px;
		background-color: white;
		border-radius: 10px;
		margin-left: 8px;
		height:300px;
		width: 45%
		
	}
	
	.pacotes{
		text-align: justify;
		font-size:20px;
		background-color: white;
		border-radius: 10px;
		margin-left: 8px;
		height:300px;
		width: 45%
	}
	
	
	/**Fotos**/
	.galeria{
		display: grid;
		grid-template-columns: repeat(3,fr);
		grid-template-rows: repeat(3,fr);
		grid-template-areas: 
				"img1 img2 img3"
				" img4 img5 img6";
		align-items: center;
		margin-top: px;
		padding: 20px;
		margin-left: 100px;
	}
	
	#img1{
		grid-area: img1;
		margin-bottom: 10px;
		border-radius: 60px;
	}
	
	#img2{
		grid-area: img2;
		margin-bottom: 10px;
		border-radius: 60px;
	}
	
	#img3{
		grid-area: img3;
		margin-bottom: 10px;
		border-radius: 60px;
	}   
	
	#img4{
		grid-area: img4;
		margin-top:30px;
		border-radius: 60px;
	}
	
	#img5{
		grid-area: img5;
		margin-top:40px;
		border-radius: 60px;
	
	}
	
	#img6{
		grid-area: img6;
		margin-top:40px;
		border-radius: 60px;
	
	}
	
	
	
	* {box-sizing: border-box}
	
	
	.container {
	  position: relative;
	  width: 50%;
	  max-width: 300px;
	}
	
	
	.image {
	  display: block;
	  width: 300px;
	  height: 300px;
	  
	  
	}
	
	
	.overlay {
	  position: absolute; 
	  bottom: 0; 
	  background: rgb(0, 0, 0);
	  background: rgba(0, 0, 0, 0.5); 
	  color: #f1f1f1; 
	  width: 300px;
	  transition: .5s ease;
	  opacity:0;
	  color: white;
	  font-size: 20px;
	  padding: 20px;
	  text-align: center;
	  align-items: center;
	  border-radius: 60px;
	  margin-bottom: 40px;
	}
	
	
	.container:hover .overlay {
	  opacity: 1;
	}
	
	
	
	/**Contatos**/
	
	
	.contatos{
		display: grid;
		grid-template-columns:-3fr  1fr;
		grid-template-rows:repeat(4,fr) ;
		grid-template-areas:
		"formulario  numeros   mapa";
	
		width: 1100px;
		height: 550px;
		margin-left: 100px;
		margin-top: 60px;
	}
	
	
	.formulario{
		grid-area: formulario;
		width: 800px;
	}
	
	.numero{
		grid-area: numeros;
		
	}
	
	.embed{
		grid-area: mapa;
		justify-self: center;
		
		
	}
	
	/*Formulário*/
	.formulario{
		align-items: center;
		background-color:white;			
		border-radius: 10px;
		margin-left: 8px;
		height:200px;
		width:80%;
	}
	
	.main> form {
		display: grid;
		grid-template-rows: repeat(6,fr);
		grid-template-columns:repeat(5,fr) ;
		grid-template-areas: 
				"item1"
				"item2"
				"item3"
				"item4"
				"item5";
			
	}
	
	
	#nome{
		grid-area: item1;
		width: 100%;
		height: 20px;
		margin-bottom: 5px;
		
	}
	
	#contato{
		grid-area: item2;
		width: 100%;
		height: 20px;
		margin-bottom: 5px;
	
	}
	
	#email{
		grid-area: item3;
		width: 100%;
		height: 20px;
		margin-bottom: 5px;
	
	}
	
	#mensagem{
		grid-area: item4;
		width: 100%;
		height: 200px;
		margin-bottom: 5px;
	
	}
	
	.item5{
		grid-area: item5;
		width: 250px;
		height: 20px;
		
	} 
	
	
	
	/*Número/Email*/
	.numero{
		display: grid;
		text-align: center;
		align-items: center;
		background-color: white;
		border-radius: 10px;
		margin-left: 8px;
		height:230px;
		width: 250px;
	}
	
	.numero ul{
	
		list-style: none;
	}
	
	.email img{
		border:2px;
		border-radius: 5px;
		border-color: red;
		background-color: red;
		width: 25px;
		height: 25px;
		align-items: center;
		text-align: center;
	}
	
	.numero > ul{
		display: grid;
		grid-template-columns: -38fr 1fr;
		grid-template-rows: repeat(5,fr);
		grid-template-areas: 
				"icon1  numero1 "
				"icon2	numero2"
				"icon3	numero3"
				"icon4	email";
		margin: 0px;
	}
	
	.numero1{
		grid-area:numero1;
		width: 200px;
	
	}
	
	.numero2{
		grid-area:numero2;
	}
	
	.numero3{
		grid-area:numero3;
	}
	
	.email{
		grid-area: email;	
	}
	
	.icon1{
		grid-area: icon1;
	}
	.icon2{
		grid-area: icon2;
	}
	.icon3{
		grid-area: icon3;
	}
	.icon4{
		grid-area: icon4;
	}
	
	


}


















































body{
	margin: 0px;
	height: 100%
}


h1{font-family: 'Indie Flower', cursive;	
}


/**link's**/



a:hover{
	color:purple;
}

a{
	text-decoration: none;
	color: white;
}



a:link{
	text-decoration: none;
	color: white;
}

a,a:visited{
	text-decoration: none;
	color: white;
}


a:active{
	text-decoration: none;
	color: white;
}





/**Header**/

#logo{
	border-radius:75px;
}


.menu{
	display: flex;
	height: 90px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color:  #159286;
	opacity: 0.6;
	color: white;
	font-weight: bold;
	width: 100%
}



/**Header - Footer**/

.item{
	order: <integer>;
	flex: none 0 1 auto;
	text-decoration: none;

}



/**Footer**/


.rodape{
	display: flex;
	height: 100px;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:center;
	text-align: center;
	background-color: #159286;
	color: white;
	font-weight: bold;
	position:absolute;
	bottom:0;
	font-size: 12px;
}



/**Sobre**/

.main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr ;
	grid-template-areas:
			"sobre fotos"; 
}


.fotos{
	grid-area: fotos;
}

.sobre{
	grid-area:sobre;
	text-align: justify;
	background-color: white;
	border-radius: 10px;
	height:300px;
	width: 80%;
	margin-left:5%;
	margin-top: 55px;
}

.fotos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
				"imagem1 imagem2"
				"imagem3 imagem3 ";
	margin-top: 15%;
	margin-right: 5%;
}

.imagem1{
	grid-area: imagem1;
}

.imagem2{
	grid-area: imagem2;
} 

.imagem3{
	grid-area: imagem3;
	margin-left:26%;
	margin-right: 45%;
	

}


.fotos > * {
	height: 200px;
	width: 200px;
	border-radius:150px;
}






/**Produtos - Pacotes**/


.kits{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	width: 100%;
}

.produtos{
	text-align: justify;
	font-size:20px;
	background-color: white;
	border-radius: 10px;
	margin-left: 8px;
	height:300px;
	width: 45%
	
}

.pacotes{
	text-align: justify;
	font-size:20px;
	background-color: white;
	border-radius: 10px;
	margin-left: 8px;
	height:300px;
	width: 45%
}


/**Fotos**/
.galeria{
	display: grid;
	grid-template-columns: repeat(3,fr);
	grid-template-rows: repeat(3,fr);
	grid-template-areas: 
			"img1 img2 img3"
			" img4 img5 img6";
	align-items: center;
	margin-top: px;
	padding: 20px;
	margin-left: 100px;
}

#img1{
	grid-area: img1;
	margin-bottom: 10px;
	border-radius: 60px;
}

#img2{
	grid-area: img2;
	margin-bottom: 10px;
	border-radius: 60px;
}

#img3{
	grid-area: img3;
	margin-bottom: 10px;
	border-radius: 60px;
}   

#img4{
	grid-area: img4;
	margin-top:30px;
	border-radius: 60px;
}

#img5{
	grid-area: img5;
	margin-top:40px;
	border-radius: 60px;

}

#img6{
	grid-area: img6;
	margin-top:40px;
	border-radius: 60px;

}



* {box-sizing: border-box}


.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}


.image {
  display: block;
  width: 300px;
  height: 300px;
  
  
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 300px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 60px;
  margin-bottom: 40px;
}


.container:hover .overlay {
  opacity: 1;
}



/**Contatos**/


.contatos{
	display: grid;
	grid-template-columns:-3fr  1fr;
	grid-template-rows:repeat(4,fr) ;
	grid-template-areas:
	"formulario  numeros   mapa";

	width: 1100px;
	height: 550px;
	margin-left: 100px;
	margin-top: 60px;
}


.formulario{
	grid-area: formulario;
	width: 800px;
}

.numero{
	grid-area: numeros;
	
}

.embed{
	grid-area: mapa;
	justify-self: center;
	
	
}

/*Formulário*/
.formulario{
	align-items: center;
	background-color:white;			
	border-radius: 10px;
	margin-left: 8px;
	height:200px;
	width:80%;
}

.main> form {
	display: grid;
	grid-template-rows: repeat(6,fr);
	grid-template-columns:repeat(5,fr) ;
	grid-template-areas: 
			"item1"
			"item2"
			"item3"
			"item4"
			"item5";
		
}


#nome{
	grid-area: item1;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
	
}

#contato{
	grid-area: item2;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;

}

#email{
	grid-area: item3;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;

}

#mensagem{
	grid-area: item4;
	width: 100%;
	height: 200px;
	margin-bottom: 5px;

}

.item5{
	grid-area: item5;
	width: 250px;
	height: 20px;
	
} 



/*Número/Email*/
.numero{
	display: grid;
	text-align: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	margin-left: 8px;
	height:230px;
	width: 250px;
}

.numero ul{

	list-style: none;
}

.email img{
	border:2px;
	border-radius: 5px;
	border-color: red;
	background-color: red;
	width: 25px;
	height: 25px;
	align-items: center;
	text-align: center;
}

.numero > ul{
	display: grid;
	grid-template-columns: -38fr 1fr;
	grid-template-rows: repeat(5,fr);
	grid-template-areas: 
			"icon1  numero1 "
			"icon2	numero2"
			"icon3	numero3"
			"icon4	email";
	margin: 0px;
}

.numero1{
	grid-area:numero1;
	width: 200px;

}

.numero2{
	grid-area:numero2;
}

.numero3{
	grid-area:numero3;
}

.email{
	grid-area: email;	
}

.icon1{
	grid-area: icon1;
}
.icon2{
	grid-area: icon2;
}
.icon3{
	grid-area: icon3;
}
.icon4{
	grid-area: icon4;
}
































